/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.idea/
/.vscode
/nbproject
/.vagrant
**/node_modules
**/public/hot
**/public/storage
**/storage/*.key
**/vendor
**/.idea
**/.vscode
**/nbproject
**/.vagrant
node_modules
public/hot
public/storage
public/assets
public/assets/*
public/assets/**/*
public/files
public/files/*
public/files/**/*
storage/*.key
vendor
.idea
.vscode
nbproject
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/Homestead.json
**/Homestead.yaml
**/npm-debug.log
**/yarn-error.log
.env
._.env
**/.env
**/._.env
.phpunit.result.cache
._.phpunit.result.cache
**/.phpunit.result.cache
**/._.phpunit.result.cache
*.iml
**/*.iml
.DS_store
._.DS_Store
**/.DS_Store
**/._.DS_Store
webpack.mix.js
**/webpack.mix.js
composer.phar
**/composer.phar
**/log
log
githooks.php
**/githooks.php
git-pull.sh
**/git-pull.sh
